.mode a{
    padding:10px;
    margin:5px;
    width:95px;
    height:45px;
    font-size:16px;
    border:none;
    background:#c8c9c4;
    color:white;
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
}

.mode a:hover{
    background:black;
    cursor: pointer;
}

.login a{
    border-bottom: 1.5px solid black;
    padding:3px;
}

.login a:hover{
    cursor: pointer;
    border: none;
    background-color: white;
    padding:3px;
    border-radius: 5px;

}

