h2{
    color: #52F25D;
    text-align: center;
    margin-top: 0;
}

.team-list{
    display: flex;
    padding: 5px;
    line-height: 10px;
    margin: 10px;
}

.team-name{
    margin-left: 10px;
}

.tag-button{
    width:10px;
    height:10px;
    background-color: black;
    border-radius: 10px;
}

.sdie-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.add-button{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button a{
    background-color: #52F25D;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 80px;
    text-align: center;
}