div.start-body {
	position: absolute;
	width: 100vh;
	height: 100vh;
}

.start-logo-img {
	position: absolute;
	width: 40vh;
	z-index: -50;
	top: 30vh;
	left: 10vh;
}

.start-back-img {
	position: absolute;
	background-color: white;
	width: 100vh;
	height: 100vh;
	z-index: -100;
	border-radius: 0 50vh 50vh 0;
	box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.16);
	left: -10vh;
}

.start-body input {
	border: none;
	background-color: #ddded9;
	margin: 15px;
	width: 80%;
	height: 10%;
	border-radius: 50px;
	font-family: "Lexend Deca", sans-serif;
	font-size: 15px;
	padding-left: 5%;
	position: relative;
	top: 5%;
}

.signup-btn{
	display: flex;
	flex-direction: column;
	margin:5%;
	width: 90%;
}

.signup-btn button {
	color: white;
	border: none;
	background-color:black;
	width: 100%;
	border-radius: 50px;
	font-family: "Lexend Deca", sans-serif;
	font-size: 15px;
	position: relative;
	margin: 3%;
}

.signup-btn button:hover{
	background-color:#52f25d;
	cursor: pointer;
}